body{
	background-color: #232323;
}

h1{
	color: white;
}

#container{
	max-width: 600px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 0 auto;
}

.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.66%;
}

#stripe{
	background-color: white;
	height: 30px;
	display: flex;
	justify-content: center;
	color: black;
}

.selected{
	background-color: blue;
}
